#audio{
    width: 370px;
    margin: 20px auto;
    background: #Fc9;
    padding: 5px;
    border: 2px solid #F90;
    border-radius: 8px;
}

nav{
    margin: 5px 0;    
}

#botones{
    float: left;
    width: 100px;
    height: 20px;
}

#barra{
    background: #FFF;
    width: 300px;
    height: 14px;
    border: 1px solid #666;
    padding: 3px;
    margin-left: 60px;
}

#progreso{
    position: absolute;
    width: 0px;
    height: 14px;
    background: rgba(0, 0, 150, 2);
}